.wow {
  width: 100px;
}



*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('./back_img/pexels-ella-olsson-1640772.jpg') top right no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  line-height: 1.5;
  font-size: 0.875rem;
  position: relative;
  color: #fff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  margin-top: 20px;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
  font-family: 'Lobster', cursive;
}
p {
  margin-bottom: 1.25rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* section */
.section {
  padding: 5rem 0;
}

.main-header {
  height: 120px;
  background: #1D1D1D;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* color: #FAB21C; */
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Menu
===============
*/


.menu {
  padding: 5rem 0;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-left: auto;
  margin-right: auto;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.filter-btn {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0.5rem;
  /* letter-spacing: 1px; */
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  color: #fff;
}

.filter-btn:hover {
  color: #FAB21C;
}

#heartBtn:hover {
  color: #FAB21C;
  cursor: pointer;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  border-radius: 5px;
  padding: 5px;
  background: #1D1D1D;
  opacity: 0.95;
}
.photo {
  object-fit: cover;
  border-radius: 3px;
  /* min-height: 50%; */
}
.food-img{
  position: relative;
  /* height: 180px; */
}
.food-img span{
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  top: .4rem;
  right: .8rem;
}
.item-info header {
  display: flex;
  justify-content: space-between;
}
.item-info h4 {
  margin-bottom: 0.5rem;
  color: #FAB21C;
  font-size: 1.3em;
  margin-top: 5px;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
  height: 110px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
    margin-left: 20px;
    margin-right: 20px;
}
.food-price-calc{
  padding: 1.2rem 0 0.6rem 0;
  display: flex;
  justify-content: space-between;
}
.food-price-calc h2{
  font-size: 1.5rem;
}
.food-quantity{
  display: flex;
  align-items: center;
}
.food-quantity div{
  width: 35px;
  height: 35px;
  color: #1D1D1D;
  font-size: 1rem;
}
.order-val{
  font-weight: 600;
  background: #f9f9f9;
  border-left: #1D1D1D solid 0.5px;
  border-right: #1D1D1D solid 0.5px;
}
.order-dec,
.order-inc,
.order-order{
  cursor: pointer;
  background: #fff;
  /* border-radius: 3px; */
  /* border: #3a4149 0.5px solid; */
}

.order-dec:hover {
  background: #FAB21C;
  color: #fff;
}
.order-inc:hover {
  background: #FAB21C;
  color: #fff;
}
.order-order:hover {
  background: #FAB21C;
  color: #fff;
}


@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 206px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 209px;
  }
}



#modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    animation-name: animatemodal;
    animation-duration: .4s;
}

#first-part-block {
  height: 250px;
  width: 400px;
  background-color: #1D1D1D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#food-icon {
  color: #FAB21C;
  height: 200px;
  width: 200px;
}

.modal-form {
    height: 250px;
    width: 400px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-input-div {
    display: flex;
    justify-content: center;
}

.modal-input {
    width: 350px;
    height: 35px;
    background: #1D1D1D;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.6em;
    padding-left: 5px;
}

.modal-selection {
    display: flex;
    flex-direction: column;
}

.pristatymo_budas_label {
    margin-top: 5px;
    color:#1D1D1D;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 17px;
    padding-bottom: 3px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

#Pristatymo_būdas {
    width: 350px;
    height: 35px;
    margin: auto;
    background: #1D1D1D;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.6em;
    padding-left: 5px;
    font-size: 16px;
}

.pristatymo_adresas_label {
    margin-top: 0px;
    display: block;
    color: #1D1D1D;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 17px;
    padding-bottom: 3px;
    font-weight: 800;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}



/* #close-btn {
    font-size: 3rem;
} */

#close-btn {
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -5px;
    right: 5px;
}

#close-btn:hover {
  color: #FAB21C;
}

.uzsakyti-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.uzsakyti-btn {
    width: 200px;
    height: 35px;
    
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    border: 0;
    color: #fff;
    background: #1D1D1D;
    line-height: 1.15;
    font-size: 16px;
    

}

.uzsakyti-btn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #FAB21C;
}

#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);
}

@keyframes animatemodal {
    from {
        top: -300px;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

